{% extends 'layout.html.twig' %}
{% block content %}
<section class="contacto">
    <article id="contact_form" class="opacity90">
        <form id="frm_contacto" method="post" action="{{ app.request.uri }}">
            <ul>
                <li class="clearfix"><label for="nombre">{{ 'contacto.nombre' | trans }}</label><input id="nombre" type="text" name="nombre" required="true"></li>
                <li class="clearfix"><label for="email">{{ 'contacto.email' | trans }}</label><input id="email" type="email" name="email" required="true"></li>
                <li class="clearfix"><label for="mensaje">{{ 'contacto.mensaje' | trans }}</label><textarea id="mensaje" name="mensaje" rows="5" cols="40" required="true"></textarea></li>
                <li class="clearfix submit"><input type="submit" id="Enviar" name="Enviar" value="{{ 'contacto.enviar' | trans }}"></li>
            </ul>
        </form>
    </article>
    <article id="contact_info" class="opacity90">
        <p><strong>Sylvia Estruch Hermán</strong></p>
        <p>{{ 'contacto.estudio' | trans }}</p>
        <p>{{ 'contacto.contactar' | trans }}</p>
        <p><strong>sylviaestruch@hotmail.com</strong></p>
    </article>
</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
       $('#nombre').focus();
    });
</script>
{% endblock %}
