{% extends 'layout.html.twig' %}

{% block subsections %}
<ul class="subsections clearfix">
    {% for cat in cats %}
    <li><a href="/{{ app.session.get('locale') }}/{{ 'common.secciones.teatro' | trans | lower }}/{{ cat.id }}/{{ attribute(cat, ['title', app.session.get('locale')] | join('_')) }}">{{ attribute(cat, ['title', app.session.get('locale')] | join('_')) }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}

{% endblock %}